body {
	background: url(http://alpencreative.github.io/unit_3/images/donnertour.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
header {
	height: 90vh;
	padding: 25vh;
}
h1 {
	color: #ff66ae;
}
h2 {	
	font-family: Heavitas;
	src: local("Heavitas"), url(../fonts/Heavitas.ttf);
}
p {
	font-family: 'Open Sans', sans-serif;
	background-color: black;
	color: #888;
	text-align: left;
}
#videosection {
	background-color: rgba(255,255,255,.9);
	/*width: 800px;*/
}
.videoelement {
	width: 50%;
	height: 0;
	padding-bottom: 50%;
}
.videodescription {
	font-size: 16px;
	color: white;
	padding: 15px;
	width: 470px;
}
